<!DOCTYPE html>
<html>
<head>
  <title><% if @title_override %><%=@title_override%><%else%><%= content_for?(:title) ? content_for(:title) : 'Seed-Ex' %><%end%></title>
  <%= stylesheet_link_tag    "dexee/application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body data-no-turbolink="true">
	<%= render partial: 'user_bar' %>
	<nav id="breadcrumbs">
		<ol>
			<li><a href="/">Home</a></li>
			<% if defined?(model_name) %>
				<% if !['index'].include?(action_name) %>
					<li><%=link_to model_name.pluralize.titlecase, :action => 'index' %></li>
				<% end
				if !@resource.nil? and !['new', 'create', 'show'].include?(action_name) %>
					<li><%=link_to @resource.display_text, @resource %></li>
				<% end %>
			<% end %>
		</ol>
	</nav>
	<header>
		<h1>
			<% if @title_override %><%=@title_override%><%else%><%= content_for(:title) %><% end%>
		</h1>
	</header>

	<% if controller.is_a?(Dexee::CrudController)
		srl_o = {}
		srl_o[:resource] = @resource if defined?(@resource) && !@resource.nil? %>
			<%=render :partial => 'show_resource_links', :locals => srl_o %>
			<hr>
	<% end %>

<% if !notice.nil? %>
	<p class="notice"><%= notice %></p>
<% end %>
<% if !alert.nil? %>
	<p class="alert"><%= alert %></p>
<% end %>

<%= yield %>

</body>
</html>
